body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid rgb(186, 186, 186);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #0c0b0b;
    display: block;
    cursor: pointer;
  }

  .sidenav .ab {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #f76d03;
    display: block;
  }
  .sidenav .ac {
    padding: 6px 8px 40px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #ece3e3;
    display: block;
  }
  
  .sidenav p:hover {
    color: #0a38ac;
    font-weight: 500;
    transition: 0.5s;
  }
  .sidenav ac:hover {
    color: #258751;
  }
  
  .main {
    margin-left: 20px; 
    font-size: 24px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */

  .first{
    width: auto;
    height: 13vh;
    border: 1px solid rgb(205, 205, 200);
    padding: 4vh 4vh;
  }
  .first .akun1 {
    float: left;
    /* background-color:rgb(139, 139, 249); */
    color: rgba(0, 0, 0, 0.700);
    font-weight: 500;
    margin-left: 200px;
  }
  .first .akun2 {
    width: 15%;
    text-align: center;
    float: right;
    color: rgba(0, 0, 0, 0.724);
    border: 1px solid gray;
    border-radius:20px ;
    cursor: pointer;
  }
  .first .akun3 {
    width: 15%;
    text-align: center;
    float: right;
    color: rgb(248, 243, 243);
    border: 1px solid gray;
    border-radius:5px ;
    margin-right: 10px;
    cursor: pointer;
    background-color: #35367262;
  }
  .first div:hover {
    background-color: #f7e7038e;
    color: black;
  }
  .first .akun2:hover {
    background-color: #f7e7038e;
    color: black;
  }
  .second{
    width: auto;
    height: 87vh;
    /* border: 1px solid blue; */
  }

