/* HEADER */
.header{
    display: flex;
}
.logo{
    padding: 20px 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
.logo span{
    color: orange;
}
.header ul{
    padding: 30px 0;
    list-style: none;
    display: flex;
    margin-left: 100px;
}
.header ul li{
    margin: 0 20px;
    transition: .5s;
}
.header ul li:hover{
    color: orange;
}
.header input{
    height: 30px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(247, 251, 255);
    border: 1px solid rgb(202, 207, 212);
}
.header input:active{
    border-color: orange;
}
.inputWrapper{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSignup{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.login, .signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: 30px;
    height: 45px;
}
.pushToTheRight{
    display: flex;
    margin-left: auto;
}
.login{
    border: 1px solid black;
    border-radius: 25px;
    transition: .5s;
}
.login:hover{
    border-color: orange;
    color: orange;
}
.signup{
    background-color: orange;
    border-radius: 25px;
    transition: .5s;
    color: white;
}
.signup:hover{
    background-color: rgb(224, 146, 1);
}



/* CATEGORIES */
.eventCategories ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    margin: 30px 60px;
}

.eventCategories ul li{
}

.catContainer {
    text-align: center;
}
  
.catContainerImg {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
}

.catContainerImg::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: 0.3s; 
}

.catContainer:hover .catContainerImg::before {
    opacity: 1; 
}

/*POPULAR CATEGORIES*/
.popularCategories{
    list-style: none;
    display: flex;
    font-size: 15px;
    margin-top: 20px;
}
.popularCategories li{
    margin-right: 50px;
    color: rgb(73, 73, 73);
    font-weight: 600;
}

/*EVENTS TABLE*/
.listContainer{
    margin-top: 50px;
}

.eventsIn{
    font-size: 25px;
    font-weight: 600;
}
/*FOOTER*/
.footer{
    background-color: navy;
    color: white;
    padding: 30px 100px 70px;
}
.leftDiv{
    display: flex;
}
.leftDiv ul{
    list-style: none;
    margin-right: 50px;
}
.leftDiv ul li{
    width: 100%;
}
.liHeader{
    font-weight: 700;
    margin-bottom: 30px;
}